<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016, Sberbank and/or its affiliates. All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without
  ~ modification, are permitted provided that the following conditions
  ~ are met:
  ~
  ~   - Redistributions of source code must retain the above copyright
  ~     notice, this list of conditions and the following disclaimer.
  ~
  ~   - Redistributions in binary form must reproduce the above copyright
  ~     notice, this list of conditions and the following disclaimer in the
  ~     documentation and/or other materials provided with the distribution.
  ~
  ~   - Neither the name of Sberbank or the names of its
  ~     contributors may be used to endorse or promote products derived
  ~     from this software without specific prior written permission.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS
  ~ IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
  ~ THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
  ~ PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
  ~ CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
  ~ EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
  ~ PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
  ~ PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
  ~ LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
  ~ NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
  ~ SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->

<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence">

    <persistence-unit name="persistenceUnit">
        <class>ru.sbt.bpm.mock.logging.entities.LogsEntity</class>
        <class>ru.sbt.bpm.mock.chain.entities.ChainsEntity</class>
        <properties>
            <property name="toplink.jdbc.url"
                      value="jdbc:h2:file:C:/work/DevTools/apache-tomcat-7.0.57/bin/mock;AUTO_SERVER=TRUE"/>
            <property name="toplink.jdbc.driver" value="org.h2.Driver"/>
            <property name="toplink.jdbc.user"/>
            <property name="toplink.jdbc.password"/>
            <property name="hibernate.connection.url"
                      value="jdbc:h2:file:C:/work/DevTools/apache-tomcat-7.0.57/bin/mock;AUTO_SERVER=TRUE"/>
            <property name="hibernate.connection.driver_class" value="org.h2.Driver"/>
            <property name="hibernate.connection.username"/>
            <property name="hibernate.connection.password"/>
            <property name="openjpa.ConnectionURL"
                      value="jdbc:h2:file:C:/work/DevTools/apache-tomcat-7.0.57/bin/mock;AUTO_SERVER=TRUE"/>
            <property name="openjpa.ConnectionDriverName" value="org.h2.Driver"/>
            <property name="openjpa.ConnectionUserName"/>
            <property name="openjpa.ConnectionPassword"/>
            <property name="eclipselink.jdbc.url"
                      value="jdbc:h2:file:C:/work/DevTools/apache-tomcat-7.0.57/bin/mock;AUTO_SERVER=TRUE"/>
            <property name="eclipselink.jdbc.driver" value="org.h2.Driver"/>
            <property name="eclipselink.jdbc.user"/>
            <property name="eclipselink.jdbc.password"/>
        </properties>
    </persistence-unit>
</persistence>