#protocol-container {
    width: 860px;
    padding-top: 15px;
}

.centered-pills {
    text-align: center;
}

.centered-pills ul.nav-pills {
    display: inline-block;
}

.centered-pills li {
    display: inline;
    border: 1px dotted lightslategray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.centered-pills a {
    float: left;
}

/* IE6 */
* html .centered-pills ul.nav-pills {
    display: inline;
}

/* IE7 */
* + html .centered-pills ul.nav-pills {
    display: inline;
}

#protocol-container .selectize-input {
    float: left;
}

.integrationPointSelectorNamespace>div, .rootElementNamespace>div{
    text-align: left;
    width: 440px;
}

.integrationPointSelectorElementName>div, .rootElementName>div{
    text-align: left;
    width: 240px;
}

/*Glyphicon into input*/
.inner-addon {
    position: relative;
}

/*style glyph*/
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.left-addon .glyphicon {
    left: 0;
}

.right-addon .glyphicon {
    right: 15px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

/*Selectize styles*/
.selectize-control .selectize-dropdown .selectize-label {
    font-weight: bold;
    color: black;
}
.selectize-control .selectize-dropdown .selectize-caption {
    color: darkgray;
    margin-left: 5px;
    font-size: x-small;
}