#protocol-container {
    width: 860px;
    padding-top: 15px;
}

.centered-pills {
    text-align: center;
}

.centered-pills ul.nav-pills {
    display: inline-block;
}

.centered-pills li {
    display: inline;
    border: 1px dotted lightslategray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.centered-pills a {
    float: left;
}

/* IE6 */
* html .centered-pills ul.nav-pills {
    display: inline;
}

/* IE7 */
* + html .centered-pills ul.nav-pills {
    display: inline;
}